<div class="contents row">
  <div class="container">
    <h2>- Edit -</h2>
    <%= form_with(model: @shop, id: 'new_user', class: 'new_user', local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object%>
    <%# イメージ %>
    <div class="img-upload">
      <div class="image-text">
        *イメージ画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, {id:"item-image", class: "file-form"} %>
      </div>
    </div>
    <%# イメージ %>
      <div class="field">
        *<%= f.label :name %><br />
        <%= f.text_field :name, {class: "form"} %>
      </div>

      <div class="field">
        *<%= f.label :shop_url %><br />
        <%= f.text_field :shop_url, {class: "text-form"} %>
      </div>

      <div class="actions">
        <%= f.submit "アップロード", {class: "submit"}%>
      </div>
      
      <div class="attention-message">
        <p>「*」マークは必須項目になります。</p>
      </div>
    <% end %>
  </div>
</div>