<% if user_signed_in? %>
  <%= render "header2" %>
<% else %>
  <div class="wrapper">
    <%= render "header" %>
  </div>
<div class="title-all">
  <div class="title">
    <h1>-My favoritesとは-</h1>
    <p>自分のお気に入りのブランドをまとめられるサービスです...♡</p>
    <p>好きな画像にブランドのurlを登録して、自分好みのブランドまとめサイトが作れます</p>
  </div>
</div>
<% end %>
<main>
  <% if user_signed_in? && current_user.shops.length != 0 %>
      <p class="go">Myfavoritesへようこそ！</p>
      <div class="howto">
        <p>How to</p>
        <p>①uploadボタンから、好きなブランドを登録してね！</p>
        <p>②clickボタンを押すと、登録したURLのページへ飛ぶよ！</p>
        <p>③画像をクリックすると、登録した内容の確認ができるよ◎</p>
      </div>
    <div class="grid-6">
      <div class="favorite-list">
        <p> -- Favorite List --</p>
      </div>
    </div>
    <%= form_with(url: search_shops_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "ブランドを検索する", class: "search-input" %>
      <%= button_tag type: 'submit', class: 'search-btn' do%>
        検索<%= icon("fas", "search") %><% end%>
    <% end %>
    <div class="sample-image">
      <% @shops.each do |shop| %>
        <% if current_user.id == shop.user_id %>
        <div class="sample-image2">
            <%= shop.name %>
            <br><%= link_to image_tag(shop.image, class: "sample1"), shop_path(shop.id)%>
          <div class="shops-name">
            <%= link_to "click the URL", shop.shop_url, class:"shop-name"%>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="side-icon">
      <p>UPLOAD!</p>
      <%= link_to image_tag("bear.png", class: "bear"),new_shop_path %>
    </div>
    <%= paginate(@shops) %>
  <% elsif user_signed_in? %>
    <p class="go">さぁ、Myfavoritesを始めてみよう！</p>
    <div class="howto">
      <p>How to</p>
      <p>①uploadボタンから、好きなブランドを登録してね！</p>
      <p>②clickボタンを押すと、登録したURLのページへ飛ぶよ！</p>
      <p>③画像をクリックすると、登録した内容の確認ができるよ◎</p>
    </div>
    <%= render "sample" %>
  <div class="side-icon">
    <p>UPLOAD!</p>
    <%= link_to image_tag("bear.png", class: "bear"),new_shop_path %>
  </div>
  <% else %>
    <%= render "sample" %>
  <% end %>
</main>
<div class="footer">
  <%= render "footer" %>
</div>