<% if user_signed_in? %>
  <%= render "header2" %>
<% else %>
  <div class="wrapper">
    <%= render "header" %>
  </div>
<div class="title-all">
  <div class="title">
    <h1>-My favoritesとは-</h1>
    <p>自分のお気に入りのブランドをまとめられるサービスです...♡</p>
    <p>好きな画像にブランドのurlを登録して、自分好みのブランドまとめサイトが作れます</p>
  </div>
</div>
<% end %>
<main>
  <% if user_signed_in? %>
    <div class="grid-6">
      <div class="favorite-list1">
        <p> -- Favorite List --</p>
      </div>
      <%= link_to "profile", user_path(current_user.id), class: "my-page1"%>
    </div>
  <% else %>
  <div class="grid-6">
    <%= link_to "LOGIN", new_user_session_path, class: "post"%>
    <%= link_to "SIGN UP", new_user_registration_path, class: "post"%>
    <p class="favorite-list"> -- Favorite List --</p>
  </div>
  <% end %>
  <% if user_signed_in? && current_user.shops.length != 0 %>
    <div class="sample-image">
      <% @shops.each do |shop| %>
        <% if current_user.id == shop.user_id %>
        <div class="sample-image2">
            <%= shop.name %>
            <br><%= link_to image_tag(shop.image, class: "sample1"), shop_path(shop.id)%>
          <div class="shops-name">
            <%= link_to "CLICK！", shop.shop_url, class:"shop-name"%>
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="side-icon">
        <p>UPLOAD!</p>
        <%= link_to image_tag("bear.png", class: "bear"),new_shop_path %>
      </div>
    </div>
    <%= paginate(@shops) %>
  <% else %>
  <div class="sample-image">
    <div class="sample-image2">
      <p>sample brand1</p>
      <%= image_tag "sample.JPG", alt: "sample", id: "sample", class: "sample1" %>
      <div class="shops-name">
        <a class="shop-name">CLICKでURLへ！</a>
      </div>
    </div>
    <div class="sample-image2">
      <p>sample brand2</p>
      <%= image_tag "sample2.JPG", alt: "sample", id: "sample", class: "sample1" %>
      <div class="shops-name">
        <a class="shop-name">CLICK！</a>
      </div>
    </div>
    <div class="sample-image2">
      <p>sample brand3</p>
      <%= image_tag "sample.JPG", alt: "sample", id: "sample", class: "sample1" %>
      <div class="shops-name">
        <a class="shop-name">CLICK！</a>
      </div>
    </div>
    <div class="sample-image2">
      <p>sample brand4</p>
      <%= image_tag "sample2.JPG", alt: "sample", id: "sample", class: "sample1" %>
      <div class="shops-name">
        <a class="shop-name">CLICK！</a>
      </div>
    </div>
  </div>
  <% end %>
</main>
<div class="footer">
  <%= render "footer" %>
</div>