<div class="wrapper">
  <%= render "header" %>
</div>
<main>
  <div class="title">
    <h1>-My favoritesとは-</h1>
    <p>自分のお気に入りのブランドをまとめられるサービスです...♡</p>
    <p>好きな画像にブランドのurlを登録して、自分好みのブランドまとめサイトが作れます</p>
  </div>
  <div class="grid-6">
    <%= link_to "LOGIN", "#", class: "post"%>
    <%= link_to "SIGN UP", "#", class: "post"%>
  </div>
    <p class="favorite-list"> -Favorite List-</p>
  <div class="sample-image">
    <div class="sample-image2">
      <%= image_tag "sample.JPG", alt: "sample", id: "sample", class: "sample1" %>
      <p>my brand1</p>
    </div>
    <div class="sample-image2">
      <%= image_tag "sample2.JPG", alt: "sample", id: "sample", class: "sample2" %>
      <p>my brand2</p>
    </div>
    <div class="sample-image2">
      <%= image_tag "sample.JPG", alt: "sample", id: "sample", class: "sample1" %>
      <p>my brand3</p>
    </div>
    <div class="sample-image2">
      <%= image_tag "sample2.JPG", alt: "sample", id: "sample", class: "sample2" %>
      <p>my brand4</p>
    </div>
  </div>
</main>
<div class="footer">
  <%= render "footer" %>
</div>