<%= render "shops/header2" %>
<main>
<% if @favorite_list.present?%>
  <p class="favorite-list1">-- Likes List --</p>
  <div class="sample-image">
    <% @favorite_list.each do |shop| %>
        <div class="sample-image2">
            <%= shop.name %>
            <div class="parent">
              <div class="like"></div>
              <p>like</p>
            </div>
            <br><%= link_to image_tag(shop.image, class: "sample1"), shop_path(shop.id)%>
          <div class="shops-name1">
            <%= link_to "click the URL", shop.shop_url, class:"shop-name"%>
          </div>
        </div>
    <% end%>
  </div>
<%end%>
  <p class="favorite-list1">--About Me--</p>
  <div class="profile">
    <div class="profile2">
      <p>ユーザー名</p>
      <div class="profile-show"><%= @user.nickname %></div>
      <p>メールアドレス</p>
      <div class="profile-show"><%= @user.email %></div>
     <%= link_to 'EDIT', edit_user_registration_path, class: "post"%>
     <br><%= link_to "Back", root_path, class: "user-back" %>
    </div>
  </div>
</main>
<div class="footer">
  <%= render "shops/footer" %>
</div>